# /etc/systemd/system/rclone.service
[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/home/ohman/drive
After=plexdrive.service

[Service]
Type=simple
User=ohman

ExecStart=/bin/rclone mount gDrive: /home/ohman/drive --config /home/ohman/.config/rclone/rclone.conf --allow-other --max-read-ahead 200M --dir-cache-time 5m --acd-templink-threshold 0 --bwlimit 0 --checkers 32 --low-level-retries 1 --quiet --stats 0 --timeout 30s
ExecStop=fusermount -u /home/ohman/drive
Restart=on-abort


# ExecStart=/usr/bin/rclone mount \
#         --config=/home/ohman/.config/rclone/rclone.conf \
#         --allow-other \
#         --cache-tmp-upload-path=/tmp/rclone/upload \
#         --cache-chunk-path=/tmp/rclone/chunks \
#         --cache-workers=8 \
#         --cache-writes \
#         --cache-dir=/tmp/rclone/vfs \
#         --cache-db-path=/tmp/rclone/db \
#         --no-modtime \
#         --drive-use-trash \
#         --stats=0 \
#         --checkers=16 \
#         --bwlimit=40M \
#         --dir-cache-time=60m \
#         --cache-info-age=60m gDrive: /drive
# ExecStop=/bin/fusermount -u /drive
# Restart=always
# RestartSec=10

[Install]
WantedBy=default.target
